//font family
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

// import tokens
@import "tokens.css";

//import components
@import "components/card/card.css";
@import "components/container/container.css";
@import "components/button/button.css";
@import "components/nav/nav.css";
@import "components/avatar/avatar.css";
@import "components/input/input.css";
@import "components/breadcrumb/breadcrumb.css";
@import "components/select/select.css";
@import "components/datepicker/datepicker.css";
@import "components/accordion/accordion.css";

/* Custom Resets found on https://piccalil.li/blog/a-modern-css-reset/ */
/* Box sizing rules */

// font sizing hack to use with tokens
:root {
  font-size: 62.5%;
}

/* Set core body defaults */
body {
  margin: 0;
  height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
}

// resets for bootstrap

.row,
.col {
  padding: 0;
  margin: 0;
}

i,
svg {
  transition: all 0.4s ease;
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate180 {
  transform: rotate(180deg);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

//remove default styling from H tags
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  font-weight: var(--font-weight-light);
}

a {
  transition: color 0.4s ease;
  text-decoration: none;
  color: var(--primary--900);

  &:hover {
    color: var(--primary--700);
  }
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
li,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

span {
  display: inline-block;
}

/*personal custom classes*/
.p-0 {
  padding: 0;
}

.grid {
  display: grid;
  gap: 1em;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.muted {
  opacity: 0.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// font sizes

h1 {
  font-size: var(--font-size-12);
}

h2 {
  font-size: var(--font-size-11);
}

h3 {
  font-size: var(--font-size-10);
}

h4 {
  font-size: var(--font-size-9);
}

h5 {
  font-size: var(--font-size-8);
}

h6 {
  font-size: var(--font-size-7);
}

p {
  font-size: var(--font-size-5);
}

small {
  font-size: var(--font-size-2);
}

label {
  font-size: var(--font-size-3);
}

.highlight {
  &.primary {
    color: var(--primary--600);
  }
}

//addin margin left/right on span tags

span {
  margin: auto 0.2em auto 0;
}

//chart style overrides

.chart {
  canvas {
    height: auto !important;
  }
}

.half {
  width: 50% !important;
}

//index styles for DS

.home {
  height: 100vh;
  .asset {
    border-radius: 20px;
    position: relative;
    left: 0;
    z-index: -1;
    transform: translateY(-16em);
    // box-shadow: -1px 20px 20px 0px rgb(0 0 0 / 10%);
  }
}

header {
  transform: translateY(3em);
  padding: 4em !important;
  .logo {
    width: 100px;
    margin-bottom: 1em;
  }

  h1 {
    font-weight: var(--font-weight-normal);
  }

  h3 {
    margin-bottom: 0.5em;
  }
}

.cover {
  width: 100vw;
  object-fit: cover;
}

// dashboard styles

.tile {
  flex-grow: 1;
  margin: 1em;
  height: 240px;
  overflow: hidden;
  width: 320px;
  border: 1px solid var(--black--50);
  border-radius: 10px;
  transition: all 0.4s ease;
  box-shadow: 2px 20px 20px 0px rgba(0, 0, 0, 0.1);

  &:hover {
    cursor: pointer;
    box-shadow: none;
  }
}

// styles for component pages

main {
  &.component-page {
    display: flex;
    justify-content: start;
  }
}

// mobile queries

@media screen and (max-width: 1024px) {
  .mobile-100 {
    width: 100% !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 988px) {
  .home {
    header {
      padding: 1em;
      transform: translate(0);
      .cta {
        margin-top: 2em;

        button {
          width: 100%;
        }
      }
    }

    .asset {
      position: relative;
      width: 100%;
      transform: translateY(0);
    }
  }
}
