button {
  box-shadow: none;
  border-radius: var(--border-radius-sm);
  border: 1px solid transparent;
  transition: all 0.4s ease;

  &:hover {
    cursor: pointer;
    border-color: var(--primary--600);
  }
  &.dropdown {
    svg {
      margin-left: 0.4em;
      margin-right: 0.2em;
    }
  }
}

//sizes
.btn-lg {
  padding: 1em;
  font-size: var(--font-size-6);
}

.btn-md {
  padding: 0.675em;
}

.btn-sm {
  padding: 0.5em;
}

//types
.btn-primary {
  background-color: var(--primary--600);
  border-color: var(--primary--600);
  color: var(--white--50);
  a {
    color: var(--white--50);
  }
}

.btn-secondary {
  border-color: var(--primary--600);
  background-color: var(--white--50);
  color: var(--primary--600);
}

.btn-white {
  background-color: var(--white--50);
  border-color: var(--black--200);
}

// btn group

.btn-group {
  display: flex;
  margin: 0 1em;
  flex-direction: row-reverse;
  &.tight {
    button {
      margin: 0 -0.15em;
    }
  }

  button {
    margin: 0 0.2em;
    &.selected {
      background-color: var(--primary--600);
      border-color: var(--primary--600);
      color: var(--white--50);
    }
  }
}
