button {
  box-shadow: none;
  border-radius: var(--border-radius-sm);
  border: 1px solid transparent;
  transition: all 0.4s ease;

  &.btn {
    border-radius: var(--border-radius-sm);
    display: flex;
    align-items: center;
    svg {
      margin-right: 0.25em;
    }
  }

  &:hover {
    cursor: pointer;
    border-color: var(--primary--600);
  }
  &.dropdown {
    svg {
      margin-left: 0.4em;
      margin-right: 0.2em;
    }
  }
}

//sizes
.btn-lg {
  padding: 0.575em 1.3em;
  font-size: var(--font-size-6);
}

.btn-md {
  padding: 0.375em 2em;
  font-size: var(--font-size-5);
}

.btn-sm {
  padding: 0.25em 1em;
  font-size: var(--font-size-3);
}

//types
.btn-primary {
  background-color: var(--primary--600);
  border-color: var(--primary--600);
  color: var(--white--50);
  a,
  a:hover {
    color: var(--white--50);
  }
  &:hover {
    background-color: var(--primary--500);
  }
}

.btn-secondary {
  border-color: var(--secondary--600);
  background-color: var(--secondary--600);
  color: var(--white--50);
  a,
  a:hover {
    color: var(--white--50);
  }
  &:hover {
    border-color: var(--secondary--600);
    background-color: var(--secondary--500);
  }
}

.btn-white {
  background-color: var(--white--50);
  border-color: var(--black--200);
  a,
  a:hover {
    color: var(--white--50);
  }
  &:hover {
    background-color: var(--white--100);
    border-color: var(--black--300);
  }
}

// btn group

.btn-group {
  display: flex;
  margin: 0 1em;
  flex-direction: row-reverse;
  &.tight {
    button {
      margin: 0 -0.15em;
    }
  }

  button {
    margin: 0 0.2em;
    &.selected {
      background-color: var(--primary--600);
      border-color: var(--primary--600);
      color: var(--white--50);
    }
  }
}
