.breadcrumb {
  width: auto;
  margin: 1em;
  a {
    font-size: var(--font-size-4);
    &:not(.current) {
      font-weight: var(--font-weight-normal);
      &::after {
        content: "/";
        position: relative;
        right: 0;
        color: inherit;
        margin-left: 0.5em;
      }
    }
    &.current {
      cursor: auto;
    }
  }
}
