nav {
  transition: all 0.4s ease;
  width: 90px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 1em;
  justify-content: center;
  position: relative;
  &.default {
    color: var(--white--100);
    background-color: var(--primary--600);
    ul {
      li {
        color: var(--white--100);
        a {
          color: var(--white--100);
        }
      }
    }
  }

  ul {
    li {
      padding: 0.5em 1em;
      transition: all 0.4s ease;
      border-radius: 6px;
      margin: 0.5em auto;
      text-align: left;
      &:first-child {
        margin-top: 0;
      }
      &:hover {
        cursor: pointer;
        background-color: var(--transparent--05);
      }
      &.selected {
        background-color: var(--transparent--20);
      }
    }
  }
  .anchor {
    transition: all 0.4s ease;
    cursor: pointer;
    position: relative;
    &:hover {
      transform: translateX(-0.25em);
    }
  }

  .header {
    position: relative;
    margin: 1em 0;
    &.active {
      &::after {
        content: "";
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 99em;
        display: block;
        right: 0;
        background: white;
        top: 10px;
      }
    }
    a {
      color: inherit;
    }
  }
  //styles for when the nav is open
  &.open {
    width: 200px;
  }
}

// mobile queries

@media screen and (max-width: 800px) {
  nav {
    transform: translateX(-100px);
  }
}
