nav {
  transition: all 0.4s ease;
  width: 90px;
  background-color: var(--primary--600);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: grid;
  padding: 1em;
  justify-content: center;
  height: 100%;

  ul {
    li {
      padding: 0.5em 1em;
      transition: all 0.4s ease;
      border-radius: 6px;
      margin: 2em auto;
      text-align: center;
      &:first-child {
        margin-top: 0;
      }
      &:hover {
        cursor: pointer;
        background-color: var(--transparent--05);
      }
      &.selected {
        background-color: var(--transparent--20);
      }
    }
  }
}

// mobile queries

@media screen and (max-width: 800px) {
  nav {
    transform: translateX(-100px);
  }
}
